<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" id="Nav2">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <%= image_tag "LogoGB-2.png", :class => "img-fluid", :style => "width:15%; height:15%;"%>
         GRACIE BARRA PARIS
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#code">Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#planning">Planning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#histoire">Historique</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Profil', pages_secret_page_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header>
          <%= image_tag "ban3.jpg", :class => "img-fluid", :style => "filter:grayscale(20%);margin-top:0%;margin-bottom:0%;"%>
  </header>



  <!-- Portfolio Grid -->
<section class="page-section" id="planning">
    <div class="container">
      <div id="page-static">
        <div class="row">
            <h1 id="title-codec">Planning</h1>
          <div class="card" style="">
            <%= image_tag "planning.jpg", :class => "card-img-top"   %>
            <div class="card-body">
              <p class="card-text">Voici le planning du moment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  <!-- Services -->
    <div id="page-static">
    <h1 id="title-codec">Code de conduite</h1>
    <h3 id="h3type">L'ecole Gacie Barra est un environnement safe qui encourage lea progression vers le succés</h3><br>
          <ol>
        <li>
          <strong>Fraternit&eacute;:</strong> Les Instructeurs de la Gracie Barra doivent renforcer l'esprit de famille chez les &eacute;l&egrave;ves, les parents et les autres instructeurs. Leur attitude doit toujours &ecirc;tre positive et coop&eacute;rative, afin de canaliser leur &eacute;nergie cr&eacute;ative dans le but de renforcer et de faire cro&icirc;tre notre famille, en faisant toujours passer l'&eacute;quipe devant les besoins individuels &eacute;go&iuml;stes.
        </li>
        <li>
          <strong>Coop&eacute;ration:</strong> Les Instructeurs de la Gracie Barra doivent cultiver et renforcer un environnement de coop&eacute;ration &agrave; l'int&eacute;rieur et en dehors du dojo. Ils doivent s'assurer que l'esprit et l'attitude de comp&eacute;tition sont r&eacute;serv&eacute;s aux tournois. Ils doivent faire comprendre aux &eacute;l&egrave;ves que le progr&egrave;s ne se refl&egrave;te pas dans leur capacit&eacute; &agrave; dominer un partenaire d'entra&icirc;nement ou un concurrent en comp&eacute;tition, mais se refl&egrave;te plut&ocirc;t dans leur capacit&eacute; &agrave; participer &agrave; une exp&eacute;rience de formation coop&eacute;rative o&ugrave; le vainqueur est celui qui apprend le plus.
        </li>
        <li>
          <strong>Discipline:</strong> Les Instructeurs de la Gracie Barra doivent constamment discipliner les &eacute;l&egrave;ves et ne jamais les punir. Ils doivent faire comprendre aux &eacute;l&egrave;ves que, sans discipline, il n'existe pas de ma&icirc;trise, ni en Jiu Jitsu, ni dans la vie, et que sans la volont&eacute; du sacrifice, l'excellence n'est tout simplement pas possible &agrave; atteindre.
        </li>
        <li>
          <strong>Respect:</strong> Les Instructeurs de la Gracie Barra doivent s'assurer que les &eacute;l&egrave;ves agissent avec chaleur et &eacute;galit&eacute; les uns envers les autres, ind&eacute;pendamment de leurs diff&eacute;rences d'origine, de croyance, de sexe, de nationalit&eacute;, etc. La hi&eacute;rarchie des grades de ceintures doit &ecirc;tre respect&eacute;e et l'autorit&eacute; de la Ceinture Noire sinc&egrave;rement reconnue.
        </li>
        <li>
          <strong>Perfectionnement et d&eacute;veloppement permanent:</strong> Les Instructeurs de la Gracie Barra doivent insister sur le fait que le Jiu Jitsu Br&eacute;silien est un parcours de longue haleine et sans point final. Les &eacute;l&egrave;ves doivent consid&eacute;rer la Ceinture Noire comme leur objectif minimum, et que leurs progr&egrave;s repr&eacute;sentent un engagement croissant &agrave; leur d&eacute;veloppement &agrave; la fois en tant que pratiquants de JJB qu'en tant qu'&ecirc;tre humain.
        </li>
        <li>
          <strong>Leadership:</strong> Les Instructeurs de la Gracie Barra doivent pr&ecirc;cher par l'exemple, la bienveillance et l'attention. L'autorit&eacute; formelle doit toujours &ecirc;tre soutenue par leur autorit&eacute; morale, qui repose sur une attitude positive, coop&eacute;rative et constructive &agrave; l'&eacute;gard des &eacute;l&egrave;ves et des autres instructeurs.
        </li>
        <li>
          <strong>Inspiration:</strong> Les Instructeurs de la Gracie Barra doivent comprendre l'importance qu'ils ont sur la vie des &eacute;l&egrave;ves en tant que mod&egrave;les, ainsi que leur responsabilit&eacute; &agrave; faire ressortir le meilleur en chacun.
        </li>
        <li>
          <strong>Plaisir:</strong> Les Instructeurs de la Gracie Barra doivent consid&eacute;rer le fait d'enseigner &agrave; une classe comme un privil&egrave;ge et jamais comme un fardeau. Chaque classe repr&eacute;sente la r&eacute;alisation d'un r&ecirc;ve, l'oeuvre de leur vie. Ils doivent appr&eacute;cier chaque minute et enseigner, comme si c'&eacute;tait leur derni&egrave;re chance d'avoir un impact positif sur la vie des &eacute;l&egrave;ves.
        </li>
      </ol>
    </div>
  <!-- About -->
<section class="page-section" id="histoire">
  <div id="page-static">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Notre Hisoire</h2>
          <h3 class="section-subheading text-muted">“Nous cherchons à entraîner le corps, l'esprit et l'âme à travers le plus haut niveau d'instruction du Jiu Jitsu Brésilien. Nous l'envisageons comme un véhicule d'épanouissement individuel et de renforcement de l'esprit de famille, allant au-delà de la notion de victoire, de défaite, ou d'esprit de compétition.” (Maître Carlos Gracie, Jr.)</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "mitsuo.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>L'Expansion</h4>
            <p class="text-muted">Les origines japonaises</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "carlos.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>L' Inventeur</h4>
            <p class="text-muted">Carlos Gracie</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "helio2.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>Helio Gracie</h4>
            <p class="text-muted">Le Frère</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "family.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>Une Famille</h4>
            <p class="text-muted">Gracie Family</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "carlosjr.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>Le Maitre</h4>
            <p class="text-muted">Gracie Barra</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus"></i>
              </div>
            </div>
            <%= image_tag "gbparis.jpg", :class => "img-fluid"   %>
          </a>
          <div class="portfolio-caption">
            <h4>Gracie Barra Paris</h4>
            <p class="text-muted">Paname</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Gracie Barra Paris 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <p class="item-intro text-muted">L'Expansion</p>
                <%= image_tag "condekoma.jpg", :class => "img-fluid d-block mx-auto"   %>
                <p>Certains historiens du Jiu-Jitsu disent que les origines de “l'art noble” peuvent remonter à l'Inde, et qu'il était pratiqué par des moines bouddhistes. Préoccupés par l'autodéfense, ces moines ont créé des techniques fondées sur des principes d'équilibre et de levier, ainsi qu'un système de manipulation du corps établi de manière à éviter de s'appuyer sur la force ou les armes. Avec l'expansion du bouddhisme, le Jiu-Jitsu s'est propagé du sud-ouest de l'Asie à la Chine, pour arriver finalement au Japon où il s'est développé et a acquis une plus grande popularité.<br>A la toute fin du 19e siècle, certains maîtres de Jiu-Jitsu ont émigré du Japon vers d'autres continents, enseignant les arts martiaux, ainsi qu'en participant à des combats et des concours. Esai Maeda Koma, aussi connu comme “Conde Koma”, a été un de ces maîtres. Après avoir voyagé avec sa troupe, combattant dans plusieurs pays d'Europe et d'Amérique, Koma arrive au Brésil en 1915, et s'établit à Belem do Para l'année suivante, où il rencontre un homme du nom de Gastao Gracie. Le père de huit enfants, dont cinq garçons et trois filles, Gastao devient un passionné de Jiu-Jitsu et amène son fils aîné Carlos auprès du maître Japonais pour qu'il lui enseigne le combat.</p>
                <ul class="list-inline">
                  <li><strong>- Par Steve “Sakuriba” Kim</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase"> Le Maitre </h2>
                <p class="item-intro text-muted"></p>
                <%= image_tag "CGSNR.jpg", :class => "img-fluid d-block mx-auto"   %>
                <p>Pour Carlos Gracie, jeune homme de 15 ans relativement fragile, le Jiu-Jitsu devient non seulement une méthode pour se battre, mais aussi pour son évolution personnelle. A 19 ans, il s'installe à Rio de Janeiro avec sa famille et commence à enseigner et à participer à des compétitions d'arts martiaux. Durant ses voyages, Carlos enseigne à des élèves, et prouve également l'efficacité de cet art en battant lors de compétitions des adversaires plus forts physiquement. En 1925, il retourne à Rio et ouvre la première Académie, l'“Academia de Gracie Jiu Jitsu”. A partir de là, Carlos commence à partager ses connaissances avec ses frères, en affinant ses techniques et en les adaptant aux caractéristiques naturellement plus faibles de sa famille. Carlos leur enseigne également sa philosophie de vie, ainsi que ses concepts d'alimentation naturelle. Au final, Carlos devient un pionnier dans la création d'un régime spécifique pour athlètes, “le régime alimentaire Gracie”, qui a transformé le Jiu-Jitsu en un terme synonyme de santé. En créant ainsi un système efficace d'autodéfense, Carlos Gracie voit dans cet art un moyen de devenir un homme plus tolérant, plus respectueux et avec une meilleure confiance en soi. Avec pour objectif de démontrer la supériorité du Jiu Jitsu, et aussi de développer une tradition familiale, Carlos défie les plus grands combattants de son époque, tout en gérant la carrière sportive de ses frères. En se battant contre des adversaires plus lourds de 20 ou 30 kilos, les Gracie gagnent rapidement en reconnaissance et prestige. Attirés par le nouveau marché se développant autour de Jiu-Jitsu, de nombreux pratiquants japonais viennent alors à Rio, mais aucun n'est en mesure d'établir des Académies avec autant de succès que les Gracie. Cela été surtout dû au fait que la pratique japonaise était d'avantage axée sur des “takedowns” (des amenées au sol) et des projections, alors que le Jiu Jitsu des Gracie était plus tourné vers des techniques plus sophistiquées de lutte au sol et de finalisation. Carlos et ses frères ont eu une telle influence sur ces techniques que cela a modifié complètement les principes internationaux du Jiu Jitsu. Ces techniques étaient si propres à Carlos et à ses frères que ce sport s'est lié à une identité nationale, et il est maintenant communément appelé “Jiu Jitsu brésilien” pratiquée par des combattants d'arts martiaux du monde entier, y compris du Japon. Avec la création d'un organisme officiel afin de superviser l'administration du sport, les règles et le système de classement, l'ère des compétitions de Jiu Jitsu a été lancée. Aujourd'hui, le Jiu Jitsu est beaucoup plus organisé, avec une Fédération Nationale et Internationale, fondée par Carlos Gracie Jr. A travers son travail avec la Confédération de Jiu Jitsu brésilien, Carlos Gracie Jr. a contribué au développement de ce sport en organisant les premières compétitions officielles. Actuellement, la Confédération organise des compétitions au Brésil, aux Etats-Unis, en Europe et en Asie, réalisant ainsi le rêve initial de Carlos de diffuser le Jiu Jitsu à travers le monde.</p>
                <ul class="list-inline">
                  <li>Date: Juin 2019</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Helio Gracie</h2>
                <p class="item-intro text-muted">Atteindre l'excellence</p>
                  <%= image_tag "helio.jpg", :class => "img-fluid"   %>
                <p>Né le 1er octobre 1913, Helio Gracie bénéficie très tôt de l'entraînement de son grand frère Carlos Gracie, tenant lui-même ses techniques de combat de Mitsuyo Maeda, le célèbre judoka et star du combat libre (no holds barred) de la première moitié du 20ème siècle. Helio trouva l'opportunité d'enseigner son art lorsque, quand il avait 16 ans, son frère fut en retard à un entraînement. Helio pris en charge d'enseigner aux élèves présents, qui recommandèrent à Carlos de le laisser continuer. C'est ainsi qu'Helio commença à enseigner ses techniques, mais il se heurta rapidement à la maîtrise de celles-ci : Helio avait en effet une carrure peu imposante qui rendait très difficile l'usage de techniques qui, s'il les connaissait en théorie, restaient toutefois difficilement applicables pour un homme relativement petit. Il adapta alors ces techniques à son gabarit, de sorte qu'elles puissent être aisément appliquées par tous. Le Gracie Jiu-jutsu naquit de ces adaptations et du travail de son frère, ainsi que des techniques apprises de Maeda, mais également des techniques au sol (Newaza grounf techniques) de Kyûzô Mifune.<br>Helio Gracie a eu 7 fils (Rickson, Royler, Rolker, Royce, Relson, Robin, et Rorion) et deux filles (Rerika et Ricci). Plusieurs de ses fils sont devenus très célèbres dans le milieu des arts martiaux : Rorion est l'un des fondateurs de l'Ultimate Fighting Championship (UFC), dont Royce a gagné 3 des 4 premières éditions, faisant découvrir au monde incrédule la puissance de BJJ. Ces victoires décisives sur des adversaires bien plus imposants et provenant de tout horizons et styles différents, tel que Karate, Judo, Savate, Kung-fu, Boxe, Street fight, ou encore Lutte et Taekwondo, ont fait exploser la popularité du combat au sol dont le BJJ se posait alors en meilleur représentant.<br>Helio est mort en laissant aux sports de combat un héritage technique et stylistique impressionnant, à l'âge de 95 ans, le 29 Janvier 2009, près de Rio de Janeiro.</p>
                <ul class="list-inline">
                  <li><a href="http://arts-of-fighting.blogspot.com/2014/03/helio-gracie-le-grand-maitre-du-jiu.html">Art of Fighting</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Le Maitre</h2>
                <p class="item-intro text-muted">Philosophie de Maitre Carlos Gracie Jr</p>
                <%= image_tag "carlosjr.jpg", :class => "img-fluid d-block mx-auto"   %>
                <p>Maître Carlos Gracie, Jr. estime que considérer la victoire comme le but principal n'est pas une bonne façon d'enseigner. Les plus grandes victoires à la Gracie Barra ont toujours été la conséquence d'un processus, et du fait de considérer l'entraînement comme une méthode à travers laquelle chacun peut tester ses propres limites. Les défaites, qui nous ont aidé à devenir de meilleurs athlètes et compétiteurs, ne sont pas perçues comme des échecs. Au lieu de cela, Maître Gracie estimait que ces leçons devraient laisser intacte notre dignité personnelle, comme les différentes facettes d'une compétition qui peuvent être totalement hors de notre contrôle : le talent, l'expérience des autres athlètes, les erreurs d'arbitrage, et le manque de chance. En conséquence, il pouvait toujours accepter les erreurs physiques, mais pas les erreurs intellectuelles: notre préparation, la planification, l'attention aux détails, le développement de la discipline et la volonté ont toujours été considérés comme la priorité absolue dans le processus de formation. A l'intérieur de l'académie, Maître Carlos Gracie Jr. ne limitait pas son enseignement à des techniques, mais il nous a aussi enseigné un tempérament. Dès le début de notre formation, il nous a inculqué l'idée que les principes fondamentaux pour un bon jiu-jitsu sont les mêmes que ceux pour un bon tempérament. Sans honnêteté, intégrité, discipline ni actes désintéressés, on ne devient jamais un(e) grand(e) athlète. Comme le Professeur Carlos nous a toujours appris, si vous voulez vraiment connaître quelqu'un, observez-le quand il se bat. Quand on est engagé dans la lutte ou le combat, on ne peut cacher sa véritable personnalité. Le succès de la Gracie Barra tout au long des années fait que toute autre académie nous voit habituellement comme un grand rival. Alors que l'ascension au sommet est difficile, y rester ou rester à proximité pendant de nombreuses années est un défi encore plus grand. Par conséquent, il faut un groupe exceptionnel de personnes pour supporter cette pression. Pourtant, notre équipe a toujours été prête à faire face à ces attentes en raison de la manière dont Maître Gracie conduit la formation et la philosophie à l'Académie, en développant non seulement nos techniques, mais plus important encore, la confiance en soi qui nous donne un avantage intellectuel. Il parvient à cela par le renforcement positif plutôt que la pression comme outil pour influencer le comportement. Le résultat? Que l'on gagne ou que l'on perde, il a créé un groupe d'athlètes qui ont un profond sentiment de loyauté et d'engagement envers lui et la famille Gracie Barra. Maître Carlos Gracie Jr. n'a jamais été le type d'entraîneur qui vous mettait la pression à chaque tournoi, hurlant au bord du tapis. Au lieu de cela, ses enseignements se font sentir de plus en plus fort chaque jour, et constamment, dans tous les aspects de votre être. La véritable orientation qu'il donne est dans la réalisation que le succès en Jiu-Jitsu doit être une extension de la vie de chacun, et que le renforcement de la confiance ainsi qu'un engagement à l'excellence doivent être cultivés au fil du temps. Par conséquent, sa méthode de formation de champions ne venait pas de déclarations de dernière minute de motivation superficielle. Les athlètes de notre Académie ont plutôt appris que le fait de devenir un champion, sur le tapis ou en dehors, demande du temps, du travail acharné et un dévouement acquis et construit au fil des ans. La compétition a toujours été un sujet très sérieux, mais Maître Carlos Gracie Jr. l'a toujours décrit comme un test de notre état d'esprit et de notre maturité. Par conséquent, les conversations ne tournaient jamais autour de nos adversaires, mais étaient considérées comme une lutte contre nous-mêmes dans notre quête de la maîtrise de soi. En entrant dans le tournoi, nos pensées sont toujours les mêmes: faire confiance à nos capacités et dans le fait que notre technique pourrait décourager nos adversaires. Elles nous incitent à croire en nous et en nos capacités, et d'imposer notre volonté à nos adversaires, et non d'être en réaction face à eux. Parce que Maître Carlos Gracie Jr. croit en nous, il réussit toujours à nous faire nous sentir imparables. Même dans la défaite, il ne nous regarde jamais avec mépris, mais nous montre toujours combien il est fier de nos efforts "sur le champ de bataille". Il nous fait comprendre le respect qu'il a pour la façon que nous avons de nous battre. C'est pourquoi quand vous voyez un athlète en compétition, portant les couleurs de la Gracie Barra sur son "armure", vous pourrez vous rendre compte qu'il est rempli d'un immense sentiment de fierté pour l'héritage et le patrimoine que nous partageons. Aujourd'hui, je suis très reconnaissant au Professeur Carlos, non seulement en tant qu'enseignant, mais aussi pour avoir été un grand Maître, un père et un meilleur ami. Par conséquent, ce ne sont pas les médailles ni les trophées qui m'inspirent - ce sont les leçons que j'ai apprises du Professeur Carlos qui me donnent la force et le courage. Je ne le laisserai jamais tomber.</p>
                <ul class="list-inline">
                  <li><strong>- Gracie Barra Paris </strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Une Famille </h2>
                <p class="item-intro text-muted">PROGRAMME GBK</p>
                <%= image_tag "family.jpg", :class => "img-fluid d-block mx-auto"   %>
                <p>La Famille Gracie Barra est une organisation mondiale formée par plus de 100 académies de Jiu Jitsu Brésilien. La mission de chacune de nos Académies est de former le corps et l'esprit grâce au plus haut niveau d'instruction du Jiu Jitsu Brésilien comme moyen de développement individuel et le renforcement de l'esprit de famille – allant au-delà du cadre de la compétition. A l'intérieur de la famille Gracie Barra, le fameux principe d'arts martiaux "efficacité maximale - effort minimal" n'est pas limité à un principe général associé à la pratique des techniques d'autodéfense, mais sert de balise morale guidant ainsi le comportement de chacun et de tous les pratiquants de Jiu Jitsu Brésilien Gracie Barra – instructeurs et élèves.Depuis sa création, la famille GB a connu une croissance constante. Sous la direction du Maître Carlos Gracie Jr., la Gracie Barra a évolué d'une petite Académie dans le quartier de Barra da Tijuca, à Rio de Janeiro, vers plus d'une centaine d'Académies tout autour du globe, formant une communauté de milliers d'individus dans les cinq continents.Cependant, cette croissance et ce changement n'ont pas nui à nos valeurs fondamentales qui sont à la base de notre succès: Fraternité: Avant tout, la Gracie Barra est une famille. Ses membres sont fiers d'être des éléments clé d'une équipe performante qui a été en mesure de créer quelque chose de beaucoup plus grand qu'eux-mêmes.Coopération: A l'intérieur du Dojo d'une Académie Gracie Barra de Jiu Jitsu Brésilien, il n'y a pas d'adversaires. Il y a seulement des partenaires d'entraînement “Uke” engagés dans une expérience d'apprentissage coopératif visant à rendre chacun meilleur, non seulement en tant que pratiquants de JJB, mais également en tant qu'êtres humains.Discipline: Pour exceller dans n'importe quel effort, la discipline est indispensable. Cela ne pouvait pas être différent avec le Jiu Jitsu Brésilien. Dans les Académies Gracie Barra de JJB, la discipline de la formation et la volonté de se sacrifier pour de plus grands accomplissements est renforcée à l'intérieur et en dehors du dojo. Respect: A l'intérieur de la Gracie Barra tout le monde doit agir avec de la chaleur et de l'égalité l'un vers l'autre, indépendamment des différences d'origine, croyance, nationalité etc. Le respect de la hiérarchie des grades est également très fort et l'autorité d'une Ceinture Noire est véritablement reconnue. Si vous vous reconnaissez dans les valeurs que nous défendons ou si vous faites déjà partie de la communauté du JJB, rejoignez la Famille GB. <br>Pour plus d'informations www.graciebarra.com</p>
                <ul class="list-inline">
                  <li><strong>- Par Steve “Sakuriba” Kim</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">BarraFIT</h2>
                <p class="item-intro text-muted">LE JIU-JITSU AU SERVICE DU FITNESS</p>
                <%= image_tag "gbparis2.jpg", :class => "img-fluid d-block mx-auto"   %>
                <p>Notre Académie, la Gracie Barra, est réputée dans le monde pour son engagement dans un enseignement de haut niveau du Jiu Jitsu Brésilien. Dans notre Académie, vous recevrez la plus grande attention de nos Professeurs de renommée internationale et de nos Instructeurs qui surveilleront vos progrès dans un environnement sain, sécurisant et familial. Nos Professeurs et Instructeurs ont été formés selon la méthode créée par le Maître Carlos Gracie Jr. et leur travail est supervisé par le Professeur Julien Cazier, ceinture noire 2e degré. Notre Académie est pour tous ceux qui cherchent à rester en forme, se former en self-défense, et améliorer la qualité globale de leur vie. Par ailleurs, notre environnement tourné vers la famille est l'endroit parfait pour enseigner à vos enfants à se sentir en sécurité chaque jour à l'école ou en dehors, mais aussi à développer leur confiance en eux et leur discipline. Nous nous attachons à toucher un maximum de personnes avec notre pratique et toute personne intéressée à en apprendre plus sur les importants bénéfices du Jiu Jitsu Brésilien est plus que la bienvenue ici. Il y a des Académies Gracie Barra officielles et affiliées dans le monde entier, trouvez-en une près de chez vous!</p>
                <ul class="list-inline">
                  <li><strong>- Gracie Barra Paris </strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
