<% if current_user.first_name == nil || current_user.last_name == nil || current_user.age == nil || current_user.profession == nil || current_user.weight == nil || current_user.phone == nil%>
<%= link_to "PROFIL IMCOMPLET", edit_user_registration_path, class: "btn btn-secondary btn-block" %>
<% end %>

<div class="div-container-global">
  
    <div class="div-container-title">
        <h1>Bienvenue <%= current_user.first_name %> <%= current_user.last_name %></h1>
    </div>
    <div class="div-container-body">

      <div class="div-container-belt", style="background-color: 
        <% if current_user.belt == "Blanche" %> 
          white
        <% elsif current_user.belt == "Bleue" %> 
          #243dcc
        <% elsif current_user.belt == "Violette" %> 
          #663096
        <% elsif current_user.belt == "Marron" %> 
          #4d0000 
        <% elsif current_user.belt == "Noire" %> 
          #292929
       <% end%> 
       ;">
     
      </div>

    <div class="div-container-body-infos">
      <div class="div-container-img">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
      </div>
      <div class="div-container-body-infos-sub">
        <div class="div-infos-title">
          <div>Age:</div>
          <div>Poids:</div>
          <div>Prof:</div>
          <div>Email:</div>
          <div>Ceinture:</div>
          <div>Téléphone:</div>      
        </div>
        <div>
          <div> <%= current_user.age %></div>
          <div> <%= current_user.weight %> </div>
          <div> <%= current_user.profession %></div>
          <div> <%= current_user.email %></div>
          <div> <%= current_user.belt %>  </div>
          <div> <%= current_user.phone %></div>
        </div>
      </div>
    
    </div>

  <div class="div-container-foot">
    <div class="div-container-foot-sub">
      <%= link_to "Me Déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-danger", style: "width: 300px;" %>
    </div>
    <div class="div-container-foot-sub">
      <%= link_to "Modifier mon Profil", edit_user_registration_path, class: "btn btn-default" %>
    </div>
    <div class="div-container-foot-sub">
       <%= link_to "Annuler", :back, class: "btn btn-default" %>
    </div>
  </div>

</div> 






