<!DOCTYPE html>
<html>
  <head>
    <title>GracieHaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

      <link href="https://fonts.googleapis.com/css?family=Archivo:500i|Josefin+Sans:600i|Overpass:600i|Prompt:500i&display=swap" rel="stylesheet">

      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  </head>

  <body>
    <%= yield %>

  </body>
</html>
